server {
	listen 80;
	server_name prometheus.{{ default_domain }};
	rewrite ^ https://prometheus.{{ default_domain }}$request_uri? permanent;
}

server {
	listen 443 ssl;
	server_name prometheus.{{ default_domain }};

	ssl_certificate /etc/ssl/{{ ssl_cert_filename }}.crt;
	ssl_certificate_key /etc/ssl/{{ ssl_cert_filename }}.key;

	location / {
		{% if prometheus_basic_auth_enabled is sameas true  %}
		auth_basic	"Prometheus";
		auth_basic_user_file /etc/nginx/.htpasswd;
		{% endif %}

		proxy_pass http://localhost:9090;
	}
}
